<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConstructionERP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.erp.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_Add</display-name>
    <servlet-name>Employee_Add</servlet-name>
    <servlet-class>com.erp.services.Employee_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Add</servlet-name>
    <url-pattern>/Employee_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Department_Add</display-name>
    <servlet-name>Department_Add</servlet-name>
    <servlet-class>com.erp.services.Department_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Department_Add</servlet-name>
    <url-pattern>/Department_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project_Add</display-name>
    <servlet-name>Project_Add</servlet-name>
    <servlet-class>com.erp.services.Project_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project_Add</servlet-name>
    <url-pattern>/Project_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginArchitech</display-name>
    <servlet-name>LoginArchitech</servlet-name>
    <servlet-class>com.erp.services.LoginArchitech</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginArchitech</servlet-name>
    <url-pattern>/LoginArchitech</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project_view_Add</display-name>
    <servlet-name>Project_view_Add</servlet-name>
    <servlet-class>com.erp.services.Project_view_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project_view_Add</servlet-name>
    <url-pattern>/Project_view_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_deparment_task</display-name>
    <servlet-name>Add_deparment_task</servlet-name>
    <servlet-class>com.erp.services.Add_deparment_task</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_deparment_task</servlet-name>
    <url-pattern>/Add_deparment_task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginArchitect</display-name>
    <servlet-name>LoginArchitect</servlet-name>
    <servlet-class>com.erp.services.LoginArchitect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginArchitect</servlet-name>
    <url-pattern>/LoginArchitect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Engineer_Add</display-name>
    <servlet-name>Engineer_Add</servlet-name>
    <servlet-class>com.erp.services.Engineer_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Engineer_Add</servlet-name>
    <url-pattern>/Engineer_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserData</display-name>
    <servlet-name>UserData</servlet-name>
    <servlet-class>com.erp.services.UserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData</servlet-name>
    <url-pattern>/UserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_engineer_to_project</display-name>
    <servlet-name>Add_engineer_to_project</servlet-name>
    <servlet-class>com.erp.services.Add_engineer_to_project</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_engineer_to_project</servlet-name>
    <url-pattern>/Add_engineer_to_project</url-pattern>
  </servlet-mapping>
</web-app>